# Configs model inspection
name: inspect

batch_size: 1
export_path: ${paths.runs_dir}/hydraruns/${now:%Y-%m-%d}/${now:%H-%M-%S}_${model.name}_${data.name}
torchinfo_summary:
    print_summary: True
    save_summary: True
    export_path: ${inspect.export_path}/summary_${model.name}.txt

flops_thop:
  print_report: True
  save_report: True
  save_txt: ${inspect.export_path}/flops_${model.name}.txt
  save_json: ${inspect.export_path}/flops_${model.name}.json

export_onnx:
  enable: True
  path: ${paths.onnx_dir}/${model.name}_${data.name}.onnx
  view: False
  port: 8081
